.index-component
  height: 100%
  width: 100%
  transition: all 3s
  .dot
    position: relative
    width: 25px
    height: 25px
    background: rgba(200, 200, 200, .5)
    box-shadow: 0 0 2px #555
    border-radius: 50%
