.index-component
  height: 100%
  width: 100%
  transition: all 3s
  .dot
    transition: all .2s
    position: relative
    width: 25px
    height: 25px
    background: rgba(200, 200, 200, .7)
    box-shadow: 0 0 5px #000
    border-radius: 50%
